<%= form_for(current_user.invites.build(invited_post_id: post.id), remote: true) do |f| %>
	<%= f.hidden_field :invited_post_id, value: post.id %>
	<% if current_user.role=="teacher" %>
		<button type="submit", class="btn btn-small btn-success", onclick= "teacher_confirm()", data-disable-with="Proccessing..." >
	<% else %>
		<button type="submit", class="btn btn-small btn-success", onclick= "invite_confirm()", data-disable-with="Proccessing..." >
	<% end %> 	
		<i class='icon-envelope icon-white'></i> Invite
	</button>
<% end %>


<script>
	function invite_confirm (){
		confirm('All of your followers will get an invitation to comemnt on this post. If this is NOT your own post, then you will EARN some points. Continue?');
	}

	function teacher_confirm (){
		confirm('All of your students will get an invitation to comemnt on this post. Continue?');
	}
</script>