<% title "Update Grading" %>
<% description "Update the grading results of a math assignment aligned with the Common Core State Standard" %>
<% noindex %>
<% nofollow %>

<% if @comment.nil? %>
    <h1> Update Grading Results of This Post </h1>
    <%= render partial: 'gradings/grade_post', locals: {post: @post, grading: @grading, url: grading_path, save: "Update"} %>
<% else %>
    <h1> Update Grading Results of This Comment </h1>
      <%= render partial: 'gradings/grade_comment', locals: {comment: @comment, post: @post, grading: @grading, url: grading_path, save: "Update"} %>
<% end %>