<div class="row-fluid">
    <div class="span5">
      <div style="margin-left: -4.5em;">
        <img src="/attachments/final.png", alt: "Shooloo logo">
      </div>      
      <div style="font-size: 1.5em; font-weight: bold; line-height: 2em; margin-top: -0.5em; color: #666;">
        Publish your own word problems.<br/>
        Impress your friends.<br/>
      </div>
      <div style="margin-top: 2em;">
        <%= link_to "Sign Up - It's Free!", signup_path, class: "btn btn-large btn-primary" %>
      </div>
    </div>
    <div class="span7">
      <div style="margin-top: 1em;">  
        <iframe width="500" height="375" src="http://www.schooltube.com/embed/2127117f76d243c5bca8" frameborder="0" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"></iframe>
      </div>
    </div>
  </div>
  <div class="row-fluid" style="margin-top: 4em; padding-top: 2m; border-top: 1px dotted #dedede;">
    <div class="span12" style="margin: 4em 0em 2em 0em; text-align: center;" >
      <span style="font-size: 2em; font-weight: bold;">Peer-to-Peer Learning for Math and ELA</span>
    </div>
  </div>  
  <div class="row-fluid">
    <div class="span4 well well-medium">
      <span class="text_center"><h3>Creative</h3></span>
      <ul>
        <li>Write your own math stories.</li>
        <li>Apply math to real life.</li>
        <li>Put your creativity to work. </li>
      </ul><br/>
      <img src="/attachments/Math_Cool.jpg" alt="Shooloo Common Core Math Creative" class="photo_home">
    </div>
    <div class="span4 well well-medium">                  
      <span class="text_center"><h3>Collaborative</h3></span>    
      <ul>
        <li>Get feedback from your friends.</li>
        <li>Make them think and laugh.</li>
        <li>Show them how smart you are.</li>
      </ul><br/>    
      <img src="/attachments/Kids_Computer.jpg" alt="Shooloo Common Core Math Collaborative" class="photo_home" >
    </div>
    <div class="span4 well well-medium">
      <span class="text_center"><h3>Effective</h3></span>
      <ul>
        <li>Improve your test scores.</li>
        <li>Comply with Common Core.</li>
        <li>Master problem solving skills.</li>
      </ul><br/>
      <img src="/attachments/graduation_small.jpg" alt="Shooloo Common Core Math Effective" class="photo_home">
    </div>
  </div>	