<div class="row-fluid" itemscope itemtype="http://schema.org/CreativeWork">
    <div class="span5">
      <div id='logo-home'>
        <img itemprop="image" src="/attachments/final.png", alt: "Shooloo logo">
      </div>
      <h1 id='h1-home' itemprop="name"> Shooloo Learning </h1>      
      <div id='tagline-home' itemprop="description">
        World's Largest Common Core<br/>
        Math Word Problem Bank<br/>
        Created by Students for Students<br/>
      </div>
      <div id='signup-home'>
        <%= link_to "Sign Up - It's Free!", signup_path, class: "btn btn-large btn-primary" %>
      </div>
    </div>
    <div class="span7">
      <div style="margin-top: 1em;">  
        <iframe itemprop="video" width="500" height="375" src="http://www.schooltube.com/embed/2127117f76d243c5bca8" frameborder="0" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"></iframe>
      </div>
    </div>
  </div>
  <div class="row-fluid" id='home-center' itemscope itemtype="http://schema.org/CreativeWork">
    <div class="span12" id='home-center-text-margin' >
      <span id='home-center-text'><span itemprop="educationalUse">Cooperative Learning</span> for <span itemprop="educationalAlignment">Common Core</span> <span itemprop="genre">Math</span></span>
    </div>
  </div>  
  <div class="row-fluid">
    <div class="span4 well well-medium">
      <span class="text_center"><h3>Student-Authored</h3></span>
      <ul>
        <li>Students publish word problems.</li>
        <li>Students give each other feedback.</li>
        <li>Students demonstrate solutions.</li>
      </ul><br/>
      <img itemprop="image" src="/attachments/Math_Cool.jpg" alt="Shooloo Common Core Math student authored" class="photo_home">
    </div>
    <div class="span4 well well-medium" itemprop="educationalAlignment" itemscope itemtype="http://schema.org/AlignmentObject">                 
      <span class="text_center"><h3><span itemprop="educationalFramework">CCSS</span>-Aligned</h3></span>    
      <ul itemprop="targetDescription">
        <li>Construct viable arguments.</li>
        <li>Critique the reasoning of others.</li>
        <li>Model real life with mathematics.</li>
      </ul><br/>    
      <img itemprop="image" src="/attachments/Kids_Computer.jpg" alt="Shooloo Common Core Math standard driven" class="photo_home" >
    </div>
    <div class="span4 well well-medium">
      <span class="text_center"><h3>Proven Results</h3></span>
      <ul>
        <li>Enchanced student engagement.</li>
        <li>Improved math understanding.</li>
        <li>Increased test scores.</li>
      </ul><br/>
      <img itemprop="image" src="/attachments/graduation_small.jpg" alt="Shooloo Common Core Math Effective" class="photo_home">
    </div>
  </div>	