<div itemscope itemtype="http://schema.org/CreativeWork">
	<h1>About Shooloo</h1>
	<ul class="nav nav-tabs">
		<li class="active"><%= link_to "About", about_path %></li>
		<li><%= link_to "Team", team_path %></li>
		<li><%= link_to "Advisors", advisors_path  %></li>
	</ul>
	<span itemprop="image">
		<%= image_tag("/attachments/computer.jpg", size: "200x100>", alt: "Shooloo Common Core Math", style: "float: right; margin-left: 2em; border-radius: 5px;", title: "Shooloo Common Core Math") %>
	</span>	
	<div class="about">
		<p>Does your child excel in <span itemprop="about">math</span> computation but struggle with <span itemprop="genre">word problems</span>? Do your students’ test scores drop after switching over to the <span itemprop="educationalAlignment">Common Core State Standards</span>? If so, then <span itemprop="name">Shooloo Learning</span> (<span itemprop="url">http://shooloo.org/</span>) is the answer for you!</p>

		<div itemscope itemtype="http://schema.org/AlignmentObject">
			<p>Shooloo Learning aligns with the <span itemprop="educationalFramework">Common Core State Standards</span> for Mathematical Practices, which <span itemprop="alignmentType">requires</span> <span itemprop="targetName">CCSS.Math.Practice.MP3</span> (<span itemprop="targetUrl">http://www.corestandards.org/Math/Practice/MP3</span>) and <span itemprop="targetName">CCSS.Math.Practice.MP4</span> (<span itemprop="targetUrl">http://www.corestandards.org/Math/Practice/MP4</span>). At Shooloo.org, students publish their own math word problems, <span itemprop="targetDescription">construct viable arguments, critique the reasoning of others</span>, and <span itemprop="targetDescription">model real life with mathematics</span>. 
			</p>
		</div>

		<p><span itemprop="audience">Students, teachers, tutors, parents, and learning specialists</span> alike enjoy Shooloo immensely. Our student members are typically in the age range of <span temprop="typicalAgeRange">8-10, 10-12, and 12-14</span>, i.e., in upper elementary and middle school grades where word problems constitute majority of the math exams. Shooloo is especially beneficial for <span itemprop="keywords">English Language Learners</span> and <span itemprop="keywords">Title I</span> students. Through <span itemprop="keywords">Shooloo</span>, students overcome their fear of <span itemprop="keywords">word problems</span>, discover the joy of writing their own <span itemprop="keywords">math stories</span>, attain <span itemprop="keywords">confidence</span> with encouragement from their peers, and exercise <span itemprop="keywords">perseverance in solving math problems</span>. </p>

		<p>Founded in 2013, Shooloo now has <span itemprop="description">the world’s largest repository of student-authored math word problems</span>, suitable for <span itemprop="learningResourceType">on-line learning,  worksheet, discussion, and assessment</span>. It is the perfect medium for <span itemprop="educationalUse">cooperative learning, discovery learning, interactive learning, journaling, peer coaching, peer response, problem solving, questioning, reciprocal teaching, reinforcement, review, and writing</span>.</p>

		<p>All of our word problems are complete with <span itemprop="keywords">“I Can”</span> statements and tagged with the associated <span itemprop="keywords">Common Core State Standard</span>. At click of a button, student can easily compile their own <span itemprop="keywords">“I Can” journals</span>, and teachers can <span itemprop="keywords">assess</span> which students struggle with which Common Core State Standard and thus can provide <span itemprop="keywords">individualized coaching</span>. </p>

		<p><span temprop="publisher">Shooloo</span> transforms math learning into a fun social experience. Like its name in Chinese which means “Number Joy”, Shooloo strives to bring the joy of numbers to the hearts of all students and teachers!</p>

	</div>
</div>






