<% provide(:title, 'About') %>

<h1>About Shooloo Games</h1>
<p>Shooloo Games is designed to help K-12 students apply math to real life situations. Students who plays Shooloo games frequently improve their math test scores by 30%. The improvement is especially profound in math word problems.</p>