<% provide(:title, 'Advisors') %>

<h1>Shooloo Advisors</h1>
<ul class="nav nav-tabs">
	<li><%= link_to "About", about_path %></li>
	<li><%= link_to "Team", team_path %></li>
	<li class="active"><%= link_to "Advisors", advisors_path  %></li>
</ul>
<div class="about">
	<p><strong><a href="http://larrycopes.com/">Larry Copes, PhD.</a></strong>, is our education advisor. Dr. Copes has over 30 years of experience in classroom teaching and educational game development. He is currently an adjunct professor in the College of Urban Education at Metropolitan State University (Minnesota), where he teaches future math teachers about <a href="http://larrycopes.com/papers/problemBased.pdf">problem-based curriculum</a> with educational games. Previously Dr. Copes was the chair of the Department of Mathematics at Augsburg College, where he also taught college math and computer science for 20 years.</p>

	<p><strong>Jeanne Shannon</strong> is our education advisor. She is currently assistant principal of the St. Elizabeth Catholic Academy in Queens, NY and teaches math in grades 5—8 and ELA in grade 5. Miss Shannon has 26 years of elementary teaching experience. She is instrumental in our product design and development. </p>

	<p><strong>Denise Reicino</strong> is our education advisor. She currently teaches math in grade 3—4 in the St. Elizabeth Catholic Academy in Queens, NY.  Miss Reicino has over 5 years of experience in teaching elementary math.</p>

	<p><strong><a href="http://elizabethhick.blogspot.com/">Elizabeth Hick</a></strong> is our education advisor. She is currently a math instructional coach for grades K-8 at Hill Central School in New Haven, Connecticut. Miss Hick has 16 years of experience in teaching math and coaching K-8 math teachers. She is also developing a <a href="http://elizabethhick.blogspot.com/2013/08/ed-714-shooloo-tutorial-using-screencast.html">digital learning hub</a> for math teachers.</p>

	<p><strong>Robyn Pensake</strong> is our education advisor. She currently teaches math and ELA in grade 4 at PS 199 in Manhattan, NY. Miss Pensake has over 6 years of experience in teaching elementary grades. She also teaches the summer enrichment program for gifted and talented students at the Hunter College Campus schools.</p>

	<p><strong>Donna Thompson</strong> is our education advisor. She is a recently retired Instructional Coach for teachers in the Albuquerque Public School System. Donna has over 30 years of experience teaching elementary, middle and high school students.  Donna also instructed and mentored pre-service teachers at the University of New Mexico, prior to becoming an Instructional Coach at two elementary schools.</p>

	<p><strong>Dory Love</strong> is our education advisor. She currently teaches the gifted students at the Los Ranchos Elementary School in Albuquerque, NM. She has over 20 years of experience in teaching elementary grades.</p>

	<p><strong>Rita Littrell</strong>, PhD., is our education advisor. Dr. Littrell is the director at the Moore Center for Economic Education at the University of Arkansas. She has 14 years of experience as a classroom teacher, economic education coordinator, gifted education coordinator, and school administrator. She has developed an array of economic education curriculum that has won national awards, including the Outstanding Young Educator Award, Phi Delta Kappa Educational Leadership Award, and the National Council on Economic Education Award.</p>
</div>
