<% title 'Contest' %>
<% description 'Winners of the Shooloo Healthy Eating Math Story Contest' %>

<h1> Shooloo Healthy Eating Math Story Contest<br/> Winners</h1>

<div class='row'>	
	<div class='auth-font'>
		<h2>Overview</h2>
		<span itemprop="image">
			<%= image_tag("/attachments/nutrition.jpg", alt: "Shooloo healthy eating math story contest", class: "contest-photo", title: "Shooloo healthy eating math story contest") %>
		</span>
		<p> Nearly 1 in 3 children aged 2-19 in the United States is overweighed or obese. Unhealthy eating is the top contributor to childhood obesity. For young consumers to properly interpret nutrition labels and choose truly healthy food, they need in-depth knowledge in mathematics, including fractions, ratios, proportional relationships, and algebra.To promote nutritional awareness among children, Shooloo.org hosted a healthy eating math story contest from May 2 to August 15, 2014 and selected the following winners.</p>
		<h2>Winners of the Teacher Advocacy Award</h2>
		<ul class='contest-list'>
			<li>
				Omar Ortiz, Ascension School, New York, NY.
			</li>
			<li>
				Melissa Prohaska, Middletown City Schools, Middletown, OH.
			</li>
			<li>
				Peggy Brubaker, Central Academy, Middletown, OH.
			</li>
			<li>
				Jenine Mas, University School - Lower School, Ft. Lauderdale, FL.
			</li>
			<li>
				Elizabeth Hugland, University School - Lower School, Ft. Lauderdale, FL.
			</li>
			<li>
				Andrew Casale, Mineola Middle School, Mineola, NY.
			</li>
		</ul>
		<h2>Winners of the Teacher Education Award</h2>
		<ul class='contest-list'>
			<li>
				Manuel Herrera, Ascension School, New York, NY.
			</li>
			<li>
				Imelda Lati, Ascension School, New York, NY.
			</li>
			<li>
				Denise Reicino, St. Elizabeth Catholic Academy, Ozone Park, NY.
			</li>
			<li>
				Margaret Moroney, Mineola Middle School, Mineola, NY.
			</li>
		</ul>
		<h2>Winners of the Student Expert Award</h2>
		<ul class='contest-list'>
			<li>
				Annabel Filpo, Ascension School, New York, NY.
			</li>
			<li>
				Sirena Lopez, Ascension School, New York, NY.
			</li>
			<li>
				Athena Wagner, Ascension School, New York, NY.
			</li>
			<li>
				Samantha Salvari, St. Elizabeth Catholic Academy, Ozone Park, NY.
			</li>
			<li>
				Steven Jones, Mineola Middle School, Mineola, NY.
			</li>
		</ul>
	</div>	
</div>
