<div class="center hero-unit">
  <h1>Shooloo Games</h1>

  <h2>
    Making math relevant, collaborative, and fun!
  </h2>
	
       <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
 
</div>

