<% provide(:title, 'Rules of Conduct') %>

<h1>Rules of Conduct</h1>
<h2>Effective date: March 1, 2013</h2>
<div style="font-size: 1.2em;">
	<p>There are 5 simple rules to Shooloo.org. They are:</p>
	<ol>
		<li>
			<p><strong>Respect Others:</strong></p>
			<p>We do not tolerate bullying, or being mean to others.</p>
		</li>
		<li>
			<p><strong>No Bad Words:</strong></p>
			<p>We do not allow any rude, inappropriate language or behavior. This includes swearing, racism, talking about drugs, sex, violence, body parts, or alcohol.</p>
		</li>
		<li>
			<p><strong>Stay Safe Online:</strong></p>
			<p>We do not tolerate the sharing of personal information like your real name, phone number, address, email or password.</p>
		</li>
		<li>
			<p><strong>Respect Intellectual Property:</strong></p>
			<p>We do not tolerate any copyright infringement, including using watermarked images or uploading images without giving proper credit to the owners of the images.</p>
		</li>
		<li>
			<p><strong>Everything Is Related to Math</strong></p>
			<p>We do not tolerate any content or comment that has nothing to do with math.</p>
		</li>
	</ol>
	
<p>** Members found not following the Shooloo rules risk being banned, temporarily or permanently. **</p>
</div>
 


