<% title "Common Core Math Teacher's Dashboard Sample" %>
<div itemscope itemtype="http://schema.org/CreativeWork">
	<meta itemprop="description" content="Teacher's view of a sample Common Core Math Assignment in Shooloo">
	<%= render 'shared/meta' %>
	<h1>Common Core Math Teacher's Dashboard Sample</h1>
	<div class="center alert-heading"> 
	  	Watch this 1-minute <span class="accorion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseVideo">video on how to gain actionable insights</a></span>.
	  	<div id="collapseVideo" class="accordion-body collapse bottom-margin">    	
	  		<div class="accordion-toggle center-div">
	  			<% @video = Video.find(14) %>
		  		<%= render partial: 'videos/video_player', locals: {video: @video} %> 
		  	</div>
		</div>
	</div>
	<div class="normal-font center margin-bottom">
		<p>
			If you have assigned your students homework, you will see actionable insights like the following.
		</p>
		<%= link_to image_tag("/attachments/dashboard_crop.jpg", alt: "Shooloo Common Core Math Teacher's Dashboard", title: "Shooloo Common Core Math Teacher's Dashboard"), sample_assignment_path %> 
	</div>
	<% if signed_in? %>
		<%= render partial: 'shared/teacher_buttons' %>
	<% end %>
</div>
