<% title "Common Core Math Teacher's Dashboard Sample" %>
<div itemscope itemtype="http://schema.org/CreativeWork">
	<meta itemprop="description" content="Teacher's view of a sample Common Core Math Assignment in Shooloo">
	<%= render 'shared/meta' %>
	<h1>Common Core Math Teacher's Dashboard Sample</h1>
	<div class="normal-font center margin-bottom">
		<p>
			If you have assigned your students homework, you will see actionable insights like the following.
		</p>
		<%= render partial: 'static_pages/teacher_greeting' %>
		<%= link_to image_tag("/attachments/dashboard_crop.jpg", alt: "Shooloo Common Core Math Teacher's Dashboard", title: "Shooloo Common Core Math Teacher's Dashboard"), sample_assignment_path %> 
	</div>
	<% if signed_in? %>
		<%= render partial: 'shared/teacher_buttons' %>
	<% end %>
</div>
