<% provide(:title, 'Team') %>

<h1>Shooloo Team</h1>
<ul class="nav nav-tabs">
	<li><%= link_to "About", about_path %></li>
	<li class="active"><%= link_to "Team", team_path %></li>
	<li><%= link_to "Advisors", advisors_path  %></li>
</ul>
<div class="about">
	<p><strong>Robin Yang</strong> is the founder and lead developer of the Shooloo platform. She specializes in the Ruby on Rails development framework. She is also in charge of business development and interacting with the user community. Robin is an award-winning children’s book author. Her <i>Enchanted Collar</i> book series has won the 2012 Excellence in Financial Literacy Education Award. She has designed and personally taught the <i>Enchanted Collar</i> Game of Business in New York City schools. Robin is a Chartered Financial Analyst and had 13 years of experience working as an investment analyst for hedge funds and investment banks prior to founding Shooloo Inc.</p>

	<p><strong>Oleg Pudeyev</strong> is currently in charge of quality control for our software development. Oleg was the founder and developer of Mindlink, an intellectual game for adults. He has 10 years of software development experience specializing in Ruby, Python, JavaScript, PostgreSQL, PHP, C, and C++.</p>

	<p><strong>Brenton Morris</strong> is in charge of our user experience design and engineering. Brenton has 7 years of experience developing web applications using Ruby, PHP, and Javascript. Previously he worked as a full-stack software engineer at Fidelity Live, Consumer Reports, and NASBA.</p>

	<p><strong>Mihail Comanescu</strong> is currently in charge of our server deployment, backup, and maintenance. Mihail has over 5 years of experience in server management and software development. He specializes in Python, Java, C and C++. Mihail was also a teacher before switching careers to software programming.</p>
</div>	
