<% if activity.trackable %>
	<span class='alert-heading'>
		added a <strong><%= link_to "COMMENT", post_comments_path(activity.trackable.commented_post) %></strong>  
		on <%= activity.created_at.strftime("%b %d, %Y") %> to post 
		(#<%= link_to activity.trackable.commented_post.id, post_comments_path(activity.trackable.commented_post) %>).	
	</span> 
	<br/>
	<%= link_to "Respond", post_comments_path(activity.trackable.commented_post) %> to comments now. <br/>
<% else %>
	<span class='alert-heading'>
		added then deleted a comment.
	</span>
<% end %>