<% title "Save a Common Core Math Word Problem" %>
<% description "Form to save a common core math word problem" %>
<% noindex %>
<% nofollow %>

<h1>Update Saved Note</h1>
<%= render partial: 'keeps/keep_form', locals: {keep: @keep, post: @post, url: keep_path, save: "Update"} %>