<% title "Save a Common Core Math Word Problem" %>
<% description "Form to save a common core math word problem" %>
<% noindex %>
<% nofollow %>

<h1>Save This Post to Favorite Folder</h1>
<%= render partial: 'keeps/keep_form', locals: {keep: @keep, post: @post, url: keeps_path, save: "Save"} %>
