<% if activity.trackable %>
	<span class='btn-formtastic'><img src="/attachments/congrats.gif" 
        alt=" Shooloo Math Can Do" width='80'></span>
    <span class='alert-heading'>
          On <%= activity.created_at.strftime("%b %d, %Y") %>, <%= activity.recipient.screen_name %> gained the power to
		<strong><%= link_to "Grant Authorizations", authorizations_path %></strong>. 
	</span>	
<% else %>
	<span class='alert-heading'>
		<%= activity.recipient.screen_name %> gained the power to grant authorization but then lost it. 
	</span>
	<i class='icon-trash'></i>
<% end %> 