<% provide(:title, "Request Password Reset") %> 
<h1>Reset Your Password</h1>

<div class="row">
	<div class="span9 offset3">
		An email with a password reset link will be sent to the address you submit below.
		<%= form_tag password_resets_path, :method => :post do %>
	  		<section>
			  	<span class="password-request-label">
			    	<%= label_tag :email %>
			    </span>
			    <span class="password-request-email">
			    	<%= text_field_tag :email, params[:email] %>
				</span>
				<span class="password-request-label">
					<%= submit_tag "Reset Password", class: "btn btn-medium btn-primary" %>
				</span>
	  		</section>	  		
		<% end %>
	</div>
</div>
