<%= form_for @alarm, :url => post_comment_alarms_path(post.id, comment.id) do |f| %>
  <div><%= f.hidden_field :alarmed_comment_id %></div>
  <%= f.submit "Alarm", class: "btn btn-small btn-danger" %>
<% end %>