<%= form_for @alarm, :url => post_alarms_path(post.id) do |f| %>
  <div><%= f.hidden_field :alarmed_post_id %></div>
  <%= f.submit "Alarm", class: "btn btn-small btn-default", confirm: "If this post has 1)offensive image, 2) offensive content, 3) watermarked image, 4) plagerized content, or 5) content that has nothing to do with math, click OK and the post will be taken out of the public view. Otherwise, click Cancel." %>
<% end %>