<%= form_for (Alarm.find_by_alarmed_post_id(@post)), html: { method: :delete } do |f| %>
  <div><%= f.hidden_field :alarmed_post_id %></div>
  <%= f.submit "Unalarm", class: "btn btn-small btn-success", confirm: "Are you sure? Once unalarmed, this post will become visible to the public.", disable_with: "Proccessing..." %>
<% end %>