<span class="no alert-heading">
	<% if activity.trackable %>
		<strong>ASSGINED</strong> you to
		<% if activity.trackable.assignment.assigned_post_id.nil? %>
			<%= link_to "create a new post", new_response_post_path(activity.trackable) %>.
		<% else %>
			<%= link_to "solve and critique post #{activity.trackable.assignment.assigned_post_id}", new_response_comment_path(activity.trackable) %>
		<% end %>
	<% else %>
		added an assignment which has since been removed.
	<% end %>
</span>