<span class="no alert-heading">
	<% if activity.trackable %>
		<strong>COMPLETED HOMEWORK</strong> to
		<% if activity.trackable.assignment.assigned_post_id.nil? %>
			<%= link_to "create a new post", post_comments_path(activity.trackable.posts.last) %>.
		<% else %>
			<%= link_to "solve and critique post #{activity.trackable.assignment.assigned_post_id}", post_comments_path(activity.trackable.assignment.assigned_post_id) %>
		<% end %>
	<% else %>
		added an assignment which has since been removed.
	<% end %>
</span>