<% noindex %>
<% nofollow %>

<h1>Edit High School Standard</h1>
<% url = hstandard_path %>
<% save = "Update" %>

<%= render partial: 'hstandards/form_hstandard', locals: {hstandard: @hstandard, url: url, save: save} %>
