<% title "Edit Comment" %>
<% description "Edit my own comment" %>
<% noindex %>
<% nofollow %>


<h1>Update My Comment</h1>

<%= render partial: 'comments/comment_form', locals: {comment: @comment, save: "Update Comment"} %>