<% provide(:title, "Comment Post") %> 
<%= render partial: 'posts/post_review' %> 

<% if !@comments.blank? %>
	<h2> Comments </h2>	
	<ol class="posts">
		<% unless @comments.hidden.blank? %>
			<% @comments.hidden.each do |comment| %>
				<% if current_user == comment.commenter || current_user.admin? || current_user.role == "teacher" %>
					<%= render partial: 'comments/comment', locals: {comment: comment} %>
            	<% end %> 
            <% end %>	  
	  	<% end %>   		
		<%= render @comments.visible %>
	</ol>
<% end %>

<h2> Post A New Comment</h2>
<p class="center no alert-heading"> Please kindly tell the author if his/her answer and I-can statement are correct. Thank you!</p>

<%= render partial: 'comments/comment_form', locals: {comment: [@post, @comment], save: "Submit Comment"} %>


