<%= render partial: 'reminders/create', locals: {reminder: Reminder.new, 
			response: response} %> 
<div class="yes" style="margin-top: -1em"><%= pluralize(response.reminders.count, "time") %></div>
