<%= form_for(like, :url => post_likes_path(post.id), remote: true) do |f| %>
	<%= f.hidden_field :liked_post_id, value: post.id %>
	<button type="submit", class="btn btn-small btn-success", onclick="like_confirm()">
		<i class='icon-heart icon-white'></i> LIKE 
	</button>
<% end %>

<script>
	function like_confirm (){
		confirm('You will EARN some points if you click. Continue?');
	}
</script>