<div id="like_form_<%= post.id %>">
  <% if current_user.likes.find_by_liked_post_id(post.id).nil? %>
   	<%= render partial: 'likes/like', locals: {like: like, post: post} %>
  <% else %>
    <%= render partial: 'likes/unlike', locals: {like: like, post: post} %>
  <% end %>
 </div>
 