<% if signed_in? %>
  <span class='follow-nudge'>
    <%= render partial:'users/follow_form', locals: {user: @user} %>
  </span>
  <span class='follow-nudge'>
    <%= render partial: 'users/nudge_form', locals:{user: @user} %>
  </span>  
<% end %> 