<div class="row">
  <div> 
      <% provide @video=Video.find(3) %>
      <%= render partial: 'videos/video_player', locals: {video: @video} %>
  </div>
</div>  
<h1> Let's get moving!</h1>
<p class='center'><img src="/attachments/moving.gif" alt="Shooloo Math Can Do" align="center"></p>
<div class='about'>
	<p class='center'>Watch the video above to get started.</p>
</div>