<% provide(:title, 'Hidden Users') %>
<h1>Hidden Users</h1>

<%= search_form_for @search_hidden, url: search_users_path, 
		method: :post do |f| %>
	<%= render partial: 'users/user_search', locals: {f: f} %>
<% end %>

<% @users_hidden.each do |user| %>
	<%= render partial: 'users/user_list', locals: {user: user} %>
<% end %>
<%= will_paginate @users_hidden %>