<div itemscope itemtype="http://schema.org/CreativeWork">
  <meta itemprop="description" content="Become a Shooloo member to access over 4,000 student-authored math word problems aligned with the Common Core State Standard.">
  <%= render 'shared/meta' %>
  <% title "Sign Up" %>

	<h1>Create Account for My Child</h1>
	<div class="span7 offset2">
		<p class="center yes">Is your child already a Shooloo member? If so, tell him/her to log in, go to "Account" at the top menu bar and then select "Request Authorization". After you've <%= link_to "granted your child authorization", authorizations_path %>, your accounts will be linked.</p>
	</div>
	<div class="row">
	  <div class="span6 offset3"> 
	  	<% role_label = "Create Account for My Child" %> 
	  	<%= render partial: 'users/signup_form', locals: {user: @user, role_form: nil} %>
	</div>
</div>
