<div itemscope itemtype="http://schema.org/AlignmentObject">
    <meta itemprop="educationalFramework" content="Common Core State Standard">
    <meta itemprop="alignmentType" content="requires">  
    <meta itemprop="targetUrl" content="<%= video.standard.url %>">
    <meta itemprop="targetDescription", content="<%= video.standard.description %>">					  
    <meta itemprop="targetName" content="<%= video.standard.symbol %>" >
	<p><strong>CCSS Standard:</strong> <%= video.standard.short %></p>
</div>