<% title "Edit Tutorial Video %> 
<% noindex %>
<% nofollow %>
<% url = video_path %>
<% save = "Update Video" %>

<h1>Edit Video</h1>
<%= render partial: 'video_form', locals: {url: url, save: save, video: @video}  %>
