<div itemscope itemtype="http://schema.org/CreativeWork">
  <meta itemprop="description" content="Video tuturials on how to use Shooloo to teach Common Core math word problems.">
  <%= render 'shared/meta' %>
	
	<% title 'Video Tutorials' %>
	
	<% unless signed_in? %>
		<div class="top-message">
			<p><%= link_to "Log in", signin_path %> to access our full library of premium video contents!</p>
		</div>	
	<% end %>
	<h1>Video Tutorials</h1>
	<%= render 'video_index' %>
</div>
