<div itemscope itemtype="http://schema.org/CreativeWork">
  <meta itemprop="description" content="Video tuturials on how to use Shooloo to teach Common Core math word problems.">
  <%= render 'shared/meta' %>
	
	<% title 'Video Tutorials' %>
	<h1>Video Tutorials</h1>
	<%= render 'video_index' %>
</div>
