<div itemscope itemtype="http://schema.org/CreativeWork">
  <meta itemprop="description" content="Video tuturials on how to use Shooloo to teach Common Core math word problems.">
  <meta itemprop="name" content="Shooloo Learning">
  <meta itemprop="about" content="Math">
  <meta itemprop="audience" content="student, teacher, tutor, specialist, parent">
  <meta itemprop="educationalUse" content="cooperative learning, discovery learning, interactive, peer coaching, peer response, problem solving, questioning, reciprocal teaching">
  <meta itemprop="genre" content="word problem">
  <meta itemprop="inLanguage" content="EN_US">
  <meta itemprop="interactivityType" content="mixed">
  <span itemprop="isFamilyFriendly" content="true"></span>
  <meta itemprop="keywords" content="Shooloo, video, tutorial, Common Core, math, word problem, teach">
  <meta itemprop="learningResourceType" content="on-line">
  <meta temprop="provider" content="Shooloo Inc.">
  <meta itemprop="educationalAlignment" content="Common Core State Standard">
	
	<% title 'Video Tutorials' %>
	<h1>Video Tutorials</h1>
	<%= render 'video_index' %>
</div>
