<% title 'Create Tutorial Video' %> 
<% noindex %>
<% nofollow %>
<% url = videos_path %>
<% save = "Create Video" %>

<h1>Create Video</h1>
<%= render partial: 'video_form', locals: {url: url, save: save, action: 'create', video: @video}  %>