<span class='no'>
	<li>
		<strong>Comment on others' posts:</strong>
		<%= render 'shared/cannot_auth' %>
	</li>
	<li>
		<strong>Publish my own posts:</strong>
		<%= render 'shared/cannot_auth' %>
	</li>
	<li>
		<strong>Grant referrals to new members:</strong>
		<%= render 'shared/cannot_auth' %>
	</li>
</span>