<div class="well well-small margin-bottom normal-font" align="center">
	<table class="table-lesson">
		<tr>
			<th>Assigned: </th>
			<td>
				<% if !@response.assignment.assigned_post_id.nil? %>
					Solve/critique a word problem 
				<% else %>
					Create a new post
				<% end %>
				on <%= @response.assignment.created_at.strftime("%m/%d/%Y") %>
			</td>
		</tr>
		<tr> 
			<th>Instruction: </th>
			<td><%= @response.assignment.instruction.html_safe %></td>
		</tr>
		<tr>
			<th>I-can:</th> 
			<td>In <%= @response.assignment.domain.name %>, 
				<%= @response.assignment.standard.ICan %></td>
		</tr>
	</table>
</div>