<span class="yes">
	<li>
		<strong>Request <%=link_to "referrals", new_referral_path %> and <%=link_to "authorizations", new_authorization_path %>:</strong>
		<%= render 'shared/can_yes' %>
	</li>
</span>