<span class="yes">
	<li>
		<% if can? :create, Post %>
			<strong>Request referrals and authorizations:</strong>
			<%= render 'shared/can_yes' %>
		<% else %>
			<strong>Request <%=link_to "authorization", new_authorization_path %>:</strong>
			<%= render 'shared/can_yes' %>
		<% end %>
	</li>
</span>