<% @user ||= current_user %>
<div class="stats">
	<strong>
		<%= link_to @user.followed_users.count, following_user_path(@user) %>
	</strong> following
	<strong>
		<%= link_to @user.followers.count, followers_user_path(@user) %>
	</strong> followers
</div>