<div class="top-message">
	<p>
		Watch video tutorials on how to<br/> <%= link_to "make a game out of word problems", video_path(11) %>, <%= link_to "teach problem-solving in 3 steps", video_path(8) %>, and <%= link_to "teach attention to precision", video_path(6) %>.
	</p>
</div>