<span  class='no'>
	<li>
		<strong>Grant authorizations to new members:</strong>
		<%= render 'shared/cannot_teacher' %>
	</li>
	<li>
		<strong>Unalarm posts published by my students:</strong>
		<%= render 'shared/cannot_teacher' %>
	</li>
</span>