<div class="row">
	<div class="span1.5">
		<%= image_tag(user.avatar.url (:thumb), alt: "Shooloo member #{user.screen_name}", title: "Shooloo member #{user.screen_name}" )  %>
	</div>
	<div class="span2">
		<h1 class="user_name">
		  <%= wrap(user.screen_name) %>
		</h1>
		<%= user.role %>
		<% if !user.grade.nil? %>
			in grade <%= user.grade %>
		<% end %>		
	</div>
</div>

