<div style="margin-left: -37px;" itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
  <meta itemprop="caption" content="Why Students Love Math Word Problems on Shooloo" />
  <meta itemprop="duration" content="T1M22S" />
  <meta itemprop="description" content="Shooloo helps students overcome their fear of word problems and enables them to apply math to real life." />
  <% provide @video=Video.find(7) %>
  <%= render partial: 'videos/video_player', locals: {video: @video} %>
</div>