<div class="welcome"> 
  <h1>
    Welcome! Watch the video below to get started.
  </h1>
  <iframe width="500" height="375" src="http://www.schooltube.com/embed/07ef5f8b5db34e1f9ab6" frameborder="0" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"></iframe> 
</div>