<div class="create">
	<% if current_user.role == "student" %> 
  		<% provide @video=Video.find(3) %>
  	<% else %>
  		<% provide @video=Video.find(7) %>
  	<% end %>
  	<%= render partial: 'videos/video_player', locals: {video: @video} %>
</div>

<h3 class="center">
Welcome! 
</h3>
<p class="center">Watch the video above to get started.</p>
