<div class="about"> <div class="row">
  <div> 
      <% provide @video=Video.find(3) %>
      <%= render partial: 'videos/video_player', locals: {video: @video} %>
  </div>
</div> 
<h3 class="center">
Welcome! 
</h3>
<p class="center">Watch the video above to get started.</p>
