<div class="about"> 
  <p class="center" ><iframe width="500" height="375" src="http://www.schooltube.com/embed/07ef5f8b5db34e1f9ab6" frameborder="0" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"></iframe></P>
  <h3 class="center">
    Welcome! 
  </h3>
  <p class="center">Watch the video above to get started.</p>
</div>