<div class="welcome">
  <% if user.posts.blank? %>
    <p>It feels so lonely not having any fan this week. </p>
    <p class='center'><img src="/attachments/cry.gif" alt="Shooloo Math Can Do"></p>
    <p> Publish a post so that your friends can have something to like, rate, and comment.</p> 
  <% else %>
    <p> Good job pulishing math problems of your own! But what good does it do if no one sees your posts? It feels so lonely not having any fans this week.</p>
    <p class='center'><img src="/attachments/pout.gif" alt="Shooloo Math Can Do"></p>
    <p> Comment on your friends' posts first to get their attention, and then invite them to comment on your posts. The more attention you give to your friends, the more attention you will get from them. </p>
  <% end %>
</div>