<div class="normal-font">
  <% if user.posts.blank? %>
  	<div class="row">
      <div> 
          <% provide @video=Video.find(4) %>
          <%= render partial: 'videos/video_player', locals: {video: @video} %>
      </div>
    </div>  
    <p class="center">It feels so lonely not having any fan this week. </p>
    <p class='center'><img src="/attachments/cry.gif" alt="Shooloo Math Can Do"></p>
    <p class="center"> Watch the video above and learn how to gather fans.</p> 
  <% else %>
  	<div class="row">
      <div class="span6 offset1"> 
          <% provide @video=Video.find(3) %>
          <%= render partial: 'videos/video_player', locals: {video: @video} %>
      </div>
    </div>  
    <p class='center'>It feels so lonely not having any fans this week.</p>
    <p class='center'><img src="/attachments/pout.gif" alt="Shooloo Math Can Do"></p>
    <p class='center'>Watch the video above and learn how to gather fans.</p>
  <% end %>
</div>