<% if activity.trackable %>
	<span class='btn-formtastic'><img src="/attachments/congrats.gif" alt="Shooloo Math Can Do" width='80'></span>
	<span class='alert-heading'>
		<strong>grantede you a referral</strong> 
		on <%= activity.created_at.strftime("%b %d, %Y") %>. 
	</span><br/>
	Express your thanks and 
	<%= link_to "follow #{activity.user.screen_name}", posts_user_path(activity.user) %>.
<% else %>
	<span class='alert-heading'>
		has granted you the referral but has changed mind.
	</span>
	<i class='icon-trash'></i>
<% end %> 