<% if activity.trackable %>
	<span class='alert-heading'>
		<strong><%= link_to "declined your referral request", new_referral_path %></strong> 
		on <%= activity.created_at.strftime("%b %d, %Y") %>. 
	</span>
	<br/>
	Make sure your first and last names are spelled correctly in  
	<%= link_to "your profile", edit_user_path(current_user) %>.
	Also make sure that your screen name and avatar image are appropriate for public view. Then <%= link_to "resend your request", new_referral_path %> for referral.
<% else %>
	<span class='alert-heading'>
		has declined your referral request but has changed mind.
	</span>
<% end %> 