<% if activity.trackable %>
	<span class='alert-heading'>
		verified your post #<%= link_to activity.trackable.id, correction_path(activity.trackable.correction) %> as
			<span class="yes"><strong> at or above </strong></span>
		your grade level on <%= activity.created_at.strftime("%b %d, %Y") %>.		
	</span> 
	<br/>	
	Congrats! You've earned <strong><%= ShoolooV2::AT_GRADE %> points</strong> of bonus!
<% else %>
	<span class='alert-heading'>
		revised a correction of your post.
	</span>
<% end %>