<% if activity.trackable %>
	<span class='alert-heading'>
		verified your post #<%= link_to activity.trackable.id, correction_path(activity.trackable.correction) %> as
			<span class="no"><strong> below </strong></span>
		your grade level on <%= activity.created_at.strftime("%b %d, %Y") %>.
		You've earned <strong>0 points</strong>. <br/>
		<%= link_to "Publish a new post at your grade level", new_post_path %> to earn some points now!
	</span> 
<% else %>
	<span class='alert-heading'>
		revised the correction.
	</span>
<% end %>