<% if activity.trackable %>
	<span class='alert-heading'>
		<strong><%= link_to "PUBLISHED", correction_path(activity.trackable.correction) %></strong> 		
		and corrected your post 
		(#<%= link_to activity.trackable.id, correction_path(activity.trackable.correction) %>) on <%= activity.created_at.strftime("%b %d, %Y") %>. 
	</span> 
	<br/>	
	Check out the <%= link_to "corrections", correction_path(activity.trackable.correction) %> of your post.
<% else %>
	<span class='alert-heading'>
		deleted a post. 
	</span>
<% end %>