<% if activity.trackable %>
	<span class='alert-heading'>
		<% if activity.trackable.qualified == "yes" %>
			<span class="yes"><strong> QUALIFIED </strong></span>
		<% else %>
			<span class="no"><strong> DISQUALIFIED </strong></span>
		<% end %> 		
		your contest entry 
		(#<%= link_to activity.trackable.id, correction_path(activity.trackable.correction) %>)
	</span> 
	<br/>	
	on <%= activity.created_at.strftime("%b %d, %Y") %>.
	Learn from the <%= link_to "corrections", correction_path(activity.trackable.correction) %> and submit a <%= link_to "better entry", new_post_path %>.
<% else %>
	<span class='alert-heading'>
		deleted a post. 
	</span>
<% end %>