<p>You <span class='refer'>granted</span> referral on <%= referral.updated_at.strftime("%b %d, %Y") %><p>
<p>to <span class='refer'><%= user.first_name %> <%= user.last_name %></span> whose screen name is <span class='refer'><%= link_to user.screen_name, posts_user_path(user) %></span>.</p>