<% referral=current_user.reverse_referrals.find_by_referred_id(user) %>

<p>
	Request received on <%= referral.created_at.strftime("%b %d, %Y") %>.
</p>
<% if can? :update, referral %>
		<% if referral.approval == "pending" %>
			<%= render partial: 'referrals/ref_review', 
				locals: {referral: referral, user: user} %>
		<% elsif referral.approval == "accepted" %>
			<%= render partial: 'referrals/ref_grant_accept', 
					locals: {referral: referral, user: user} %>
		<% elsif referral.approval == "declined" %>	
			<%= render partial: 'referrals/ref_grant_decline',
					locals: {referral: referral, user: user} %>
		<% end %>			
	</span>	
<% end %>