<% provide(:title, "Page Not Found") %> 
<h2> Sorry: Page Not Found.</h2>
<div class="about">
	<p>We are sorry: the content you requested could not be found.</p>
	<p>Want to go back to <%= link_to "Shooloo home page", root_path %> and try again?</p>
</div>