<% provide(:title, "Page Error") %> 
<h2> Sorry: Something Is Wrong.</h2>
<div class="about">
	<p>We are sorry: something is wrong and we are trying to fix the problem ASAP.</p>
	<p>If this problem persist, <%= link_to "contact admin", contact_path %> to report this problem. Thank you!</p>
</div>