<% provide(:title, "Page Not Found") %> 
<div>
	<p>We are sorry: the content you requested could not be found.</p>
	<p>Want to go back to <%= link_to "Shooloo home page", root_path %> and try again?</p>
</div>