<% provide(:title, "Page Not Found") %> 
<h2> Sorry: Page Not Found.</h2>
<div class="about">
	<p>We are sorry: the content you requested has been moved.</p>
	<p>Check the menu bar above for its new location, go back to the <%= link_to "Shooloo home page", root_path %>, or <%= link_to "contact admin", contact_path %> if you can't find what you need.</p>
</div>