<li>
	<div class="accorion-heading search-label">
		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse<%=comment.id%>">
			<strong>#<%= comment.id %>: </strong>
		</a>
	</div>
	<div id="collapse<%=comment.id%>" class="accordion-body collapse search-label">
			<div class="accordion-toggle teacher-view">    				
				<%= comment.content.html_safe %>
			</div>		   		
	</div>
</li>