<li>
	<div class="accorion-heading">
		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse<%=comment.id%>">
			<p><strong>#<%= comment.id %>:</strong></p>
		</a>
	</div>
	<div id="collapse<%=comment.id%>" class="accordion-body collapse">
			<div class="accordion-toggle teacher-view">    				
				<p><%= comment.content %></p>
			</div>		   		
	</div>
</li>