<% title "Create Lesson Plan" %>
<% description "Create a new math lesson plan aligned with the Common Core State Standard" %>
<% noindex %>
<% nofollow %>

<h1> Create My Own Lesson Plan </h1>

<%= render partial: 'lessons/new_lesson', locals: {lesson: @lesson, url: lessons_path} %>