<div class="center create">
	<img src="/attachments/laptop.gif" height="5" alt="Shooloo Math Can Do">
	<%= link_to "Create My Own Math Story Now!", new_post_path, class: "btn btn-large btn-info" %>
</div>