<% edit_post = "editPost-#{local_object.id}" %>
<%= link_to "Update My Post", "##{edit_post}", role: "button",  
              "data-toggle" => "modal", class: "btn btn-small btn-success" %>
<div id="<%=edit_post%>" class="modal-rating modal hide fade" tabindex="-1" role="dialog" aria-labelledby="editPostLabel" aria-hidden="true">
  <div class="row">   
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <%= render partial: 'shared/post_form'%>       
  <div>       
  <button class="btn btn-formtastic" data-dismiss="modal" aria-hidden="true">Close</button>  
</div>

