<table class="table-grade alert-heading">
	<tr>
		<th>
			Teacher's Grading Result:
		</th>
		<th>
			Standard:
		</th>
		<td>
			<% if grading.hstandard.nil? %>
				<%= link_to grading.standard.short, grading.standard.url, target: "_blank", confirm: "You are about to visit a site that is not part of Shooloo. Continue?" %>
			<% else %>
				<%= link_to grading.hstandard.short, grading.hstandard.url, target: "_blank", confirm: "You are about to visit a site that is not part of Shooloo. Continue?" %>
			<% end %>
		</td>

		<th>
			Grade:
		</th>
		<td>
			<%= link_to grading.mark.full_mark, grading_path(grading)%>
		</td>
	</tr>
</table>
