<table class="table-grade alert-heading">
	<tr>
		<th>
			Teacher's Grading Result:
		</th>
		<th>
			Standard:
		</th>
		<td>
			<%= link_to grading.standard.short, grading.standard.url, target: "_blank", confirm: "you are about to visit a site that is not part of Shooloo. Continue?" %>
		</td>

		<th>
			Grade:
		</th>
		<td>
			<%= link_to grading.mark.full_mark, grading_path(grading)%>
		</td>
	</tr>
</table>
