<a href="#invite" role="button" class="btn btn-small" data-toggle="modal">Invite</a>
<div id="invite" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="inviteLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="inviteLabel">Sorry, you've exceed your limit of invites.</h3>
  </div>
  <div class="modal-body">
    <p>To be able to send out more invites, make some comments on other people's posts first.</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>