<li>
  <span class="content">
  	<strong>Question: </strong><%= post.question %></br>
  	<strong>Answer: </strong><%= post.answer %> -- <i> Is this the right answer?</i></br>
  	<strong> Grade: </strong> <%= post.grade %> -- <i> Is this question suitable for this grade?</i>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
  </span>
</li>
