<div class="post_review_user_info">
    <%= render partial: 'posts/post_user', locals: {post: post} %>
    <%= render partial: 'posts/post_stats', locals: {post: post} %>
    <span class="btn-formtastic ">
     <%= render partial: 'posts/post_buttons', locals: {post: post, like: like, invite: invite } %>
    </span>
</div>