<span id="post_likes_count-<%=post.id%>" %>
	<% if post.likes_count.to_i >0 %>
	<i class="icon-heart "></i>
		<%= link_to post.likes_count, "#", "class" => "like", "rel" => "tooltip", 
			"title" => "#{liker_list(post)} liked your post." %> 		
	<% end %>
</span> 

<% if post.comments_count.to_i >0 %>
<i class="icon-comment"></i>
	<%= link_to post.comments_count, "#", "class" => "comment", "rel" => "tooltip", "title" => "#{commenter_list(post)} commented on your post." %>
<% end %>


