<% provide(:title, "Edit Post") %> 
<% url = post_path %>
<% f = f %>
<% if current_user.admin? %>
	<% if @post.state == "draft" %>
		<% submission = "posts/publication" %>
	<% else %>	
		<% submission = "posts/admin_edit" %>
	<% end %>
<% else %>
	<% submission = "posts/submission" %>
<% end %>

<h1>Update My Post</h1>
   
<%= render partial: 'posts/post', locals: {url: url, submission: submission, post: @post} %>


