<% provide(:title, "Edit Post") %> 
<% url = post_path %>
<% submission = "posts/submission" %>
<% f = f %>

<h1>Update My Post</h1>
   
<%= render partial: 'posts/post', locals: {url: url, submission: submission, post: @post} %>

