<% title "Create Post" %>
<% description "Create a new math word problem aligned with the Common Core State Standard" %>
<% noindex %>
<% nofollow %>
<% url = posts_path %>
<% submission = "posts/blank" %>

<% if @response.nil? %>
	<h1>Create My Own Math Story</h1>
	<%= render partial: 'posts/post', locals: {url: url, submission: submission, post: @post} %>
<% else %>
	<h1>Complete My Homework</h1>
	<%= render partial: 'posts/homework_post', locals: {url: url, submission: submission, post: @post, response: @response, 
		assignment: @assignment}  %>
<% end %>	