<% title "Create Post" %>
<% description "Create a new math word problem aligned with the Common Core State Standard" %>
<% noindex %>
<% nofollow %>
<% url = posts_path %>
<% save = "Create!" %>

<h1>Create My Own Math Story</h1>
   
<%#= render partial: 'shared/post_form', locals: {url: url, save: save, post: @post} %>
<%= render partial: 'posts/post', locals: {url: url, save: save, post: @post} %>