@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

html {
  overflow-y: scroll;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 2.5em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.avatar {
  float: left;
  margin-right: 10px;
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color:#f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

 .search-label {
  display: inline-block;
 }

 .search-field {
  width: 100px; 
  display: inline-block;  
  margin-right: 1em; 
  height: 1.5em;
 }

 .sign-in-label {
  display: inline-block;
  width: 5em; 
  padding-top: 1.5em;
 }

 .remember-label {
  display: inline-block;
  padding-top: 1em;
 }


 /* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* posts */

/* posts */

.posts {
  list-style: none;
  margin: 10px 0 0 0;
  
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

.content {
  display: block;
}

.timestamp {
  color: $grayLight;
}

.image_host{
  color: $grayLight;
  font-size: 0.8em;
}

.image-host-large{
  color: $grayLight;
  font-size: 1em;
}

aside {
  textarea {
    height: 200px;
    margin-bottom: 5px;
  }
}

.feed_item {
  margin-left: 25px;
}

.feed_content{
  margin-top: 5px; 
}

.image{
  float: left; 
  margin: 5px 20px 0px 0px;
}

.modal-image {
  float: right;
  margin: 1em 2em 1em 2em;
  line-height: .8em;
  font-size: 0.7em;
  text-align: center;
}

.modal-text {
  padding: 2em 0em 1em 1em;
  overflow-y: scroll;
  height: 200px;
  font-size: 1.2em;
}

.well-text {
  font-size: 1.5em;
  text-align: left;
  vertical-align: middle;
  line-height: 1.7em;
}

.user_name{
  text-align: left;
  font-size: 2em;
}

#rating, .modal-rating {
  width: 850px; /* SET THE WIDTH OF THE MODAL */
  margin: -330px 0 0 -470px; /* CHANGE MARGINS TO ACCOMODATE THE NEW WIDTH (original = margin: -250px 0 0 -280px;) */
  padding: 2em 2em 2em 5em;
  overflow-y: scroll;
  max-height: 600px;
}


.prompt {
  margin-left: 50px;
  margin-top: 30px;
  line-height: 2em;
  font-size: 1.5em;
  color: #0040FF;
  font-weight: bold;
}

.form-horizontal { 
  .control-label {  
  float: left;
  /*original: width: 140px;*/
  width: 350px;
  padding-top: 2px;
  text-align: left;
  }
  .controls {
  /*original: margin-left: 160px;*/
  margin-left: 350px;
  width: 470px;  
  &.textarea {
    rows: 10;
  }
  }
}
.form-horizontal-rating { 
  .control-label {  
  float: left;
  /*original: width: 140px;*/
  width: 350px;
  padding-top: 2px;
  text-align: left;
  margin-left: 2em;
  }
  .controls {
  /*original: margin-left: 160px;*/
  margin-left: 380px;
  width: 500px;  
  }
}

.form-horizontal-user { 
  .control-label {  
  float: left;
  /*original: width: 140px;*/
  width: 160px;
  padding-top: 2px;
  text-align: left;
  }
  .controls {
  /*original: margin-left: 160px;*/
  margin-left: 180px;
  width: 300px;  
  }
}

.form-horizontal-post-update { 
  .control-label {  
  float: left;
  /*original: width: 140px;*/
  width: 150px;
  padding-top: 2px;
  text-align: right;
  }
  .controls {
  /*original: margin-left: 160px;*/
  margin-left: 180px;
  width: 600px;  
  textarea {
    height: 200px;
    }
  }
}
  
.btn-formtastic {
  float: right;
}

.choice {
  display: inline-block; 
  width: 135px;
}

.form-actions {
  padding: 5px 5px 5px;
  background-color: none;
}

.well-small {
  padding: 2px;
  margin: 10px 0px 0px 5px;
}

.table{
  width: 75%;  
  margin-left: 150px; 
  tr {
    border: 1px solid #A4A4A4;
    padding: 1px;
    td {
    width: 135px;
    border-right: 1px solid #A4A4A4;
    text-align: center;
    line-height: 0.9em;
    }
  }  
}
.overall-rating {
  width: 37.5%;
}

.grade {
  width: 56.5%;
}

.math {
  width: 80%;
}

.operation {
  width: 64%
}

.rating {
  float: left;
}

.left-panel {
  overflow-y: scroll;
  max-height: 700px;
}

.right-panel {
  overflow-y: scroll;
  max-height: 870px;
}

.user-index {
  width: 100%;  
  tr {
    border: 1px solid #A4A4A4;
    padding: 1px;
    th {
    font-size: 1.1em;
    line-height: 2em;
    }
    td {
    width: 135px;
    text-align: center;
    line-height: 1em;    
    }
  }   
}

.feed-well {
  float: left; 
  text-indent: 10px;
}

.password-reset {
  width: 21em;
}

.password-request-label {
  display: inline-block; 
  margin-right: 1em;
  margin-top: 1em;
}

.password-request-email {
  display: inline-block; 
  width: 20em; 
  margin-right: 1em;
}

.comment {
  .control {
    &.textarea {
    rows: 2;
    }
  }  
}

 