@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

html {
  overflow-y: scroll;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 0.5em;
  text-align: center;
  line-height: 1.5em;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
  p {
  line-height: 1.2em;
  }
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 2em;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 2.5em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.avatar {
  float: left;
  margin-right: 1.5em;
}

.stats {
  overflow: auto;
  margin-top: 0.2em;
  border-bottom: 1px solid $grayLighter;
  span {
    float: left;
    padding: 0.5em 0.5em 0.1em 0.5em;
    border-left: 1px solid $grayLighter;
    color: gray;
    p {
      line-height: 0.7em;
      text-align: center;
    }
    &:first-child {
      padding-left: 0;
      border: 0;
    }
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color:#f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

 .search-label {
  display: inline-block;
 }

 .search-field {
  width: 100px; 
  display: inline-block;  
  margin-right: 1em; 
  height: 1.5em;
 }

 .sign-in-label {
  display: inline-block;
  width: 7em; 
  padding-top: 1.5em;  
 }

 #screen-name-label {
  color: red
 }

 .remember-label {
  display: inline-block;
  padding-top: 1em;
 }


 /* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    p{
      line-height: 1.2em;
      margin: 0.2em 0 0 0em;
    }
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
  }
}

/* posts */

.posts {
  list-style: none;
  margin: 0em 0 0 0;
  li {
    padding: 1em 0 0 0;
    border-top: 1px solid #e8e8e8;
  }
}

.content {
  display: block;
}

.timestamp {
  color: $grayLight;
}

.image_host{
  color: $grayLight;
  font-size: 0.8em;
}

.image-host-large{
  color: $grayLight;
  font-size: 1em;
}

aside {
  textarea {
    height: 200px;
    margin-bottom: 5px;
  }
}

.feed_item {
  margin-left: 25px;
}

.feed_content{
  margin-top: 5px; 
}

.image{
  float: left; 
  margin: 5px 20px 0px 0px;
}

.modal-image {
  float: right;
  margin: 1em 2em 1em 2em;
  line-height: .8em;
  font-size: 0.7em;
  text-align: center;
}

.modal-text {
  padding: 2em 0em 1em 1em;
  overflow-y: scroll;
  height: 200px;
  font-size: 1.2em;
}

.well-text {
  font-size: 1.5em;
  text-align: center;
  vertical-align: middle;
  line-height: 1.7em;
}

.user_name{
  text-align: left;
  font-size: 2em;
}

#rating, .modal-rating {
  width: 850px; /* SET THE WIDTH OF THE MODAL */
  margin: -330px 0 0 -470px; /* CHANGE MARGINS TO ACCOMODATE THE NEW WIDTH (original = margin: -250px 0 0 -280px;) */
  padding: 2em 2em 2em 5em;
  overflow-y: scroll;
  max-height: 600px;
}


.prompt {
  margin-left: 50px;
  margin-top: 30px;
  line-height: 2em;
  font-size: 1.5em;
  color: #0040FF;
  font-weight: bold;
}

.form-horizontal { 
  .control-label {  
  float: left;
  /*original: width: 140px;*/
  width: 350px;
  padding-top: 2px;
  text-align: left;
  }
  .controls {
  /*original: margin-left: 160px;*/
  margin-left: 350px;
  width: 470px;  
  &.textarea {
    rows: 10;
  }
  }
}
.form-horizontal-rating { 
  .control-label {  
  float: left;
  /*original: width: 140px;*/
  width: 350px;
  padding-top: 2px;
  text-align: left;
  margin-left: 2em;
  }
  .controls {
  /*original: margin-left: 160px;*/
  margin-left: 380px;
  width: 500px;  
  }
}

.form-horizontal-user { 
  .control-label {  
    float: left;
    width: 7em;
    padding-top: 2px;
    text-align: left;
  }
  .controls {
    margin-left: 8em;
    width: 300px; 
  }
  .form-actions {
    margin: 1em 26em 0em 0em;
  }
}

.form-horizontal-contact { 
  .control-label {  
    float: left;
    width: 5px;
    padding-top: 2px;
    text-align: left;
  }
  .controls {
    margin-left: 8em;
    width: 500px;
    textarea {
      height: 200px;
    }
  }
  .hidden {
  margin-left: -2000px;
  }  
}

.form-horizontal-post-update { 
  .control-label {  
  float: left;
  /*original: width: 140px;*/
  width: 150px;
  padding-top: 2px;
  text-align: right;
  }
  .controls {
  /*original: margin-left: 160px;*/
  margin-left: 180px;
  width: 600px;  
  textarea {
    height: 200px;
    }
  }
}

.form-horizontal-gift {
  margin-top: -20px;
  margin-bottom: -10px; 
  .control-label {  
  float: left;
  width: 80px;
  }
  .controls {
  margin-left: 90px;
  width: 180px;
    select{
      height: 26px;
      line-height: 26px; 
    }   
  }
  .hidden {
  margin-left: -2000px;
  }  
}
.button {
   margin-top: -70px;
}
  
.btn-formtastic {
  float: right;
}

.choice {
  display: inline-block; 
  width: 135px;
}

/*.form-actions {
  padding: 5px 5px 5px;
  background-color: none;
}*/

.well-small {
  padding: 2px;
  margin: 10px 0px 0px 5px;
}

.table{
  width: 75%;  
  margin-left: 150px; 
  tr {
    border: 1px solid #A4A4A4;
    padding: 1px;
    td {
    width: 135px;
    border-right: 1px solid #A4A4A4;
    text-align: center;
    line-height: 0.9em;
    }
  }  
}

.overall-rating {
  width: 37.5%;
}

.grade {
  width: 56.5%;
}

.math {
  width: 80%;
}

.operation {
  width: 64%
}

.rating {
  float: left;
}

.left-panel {
  overflow-y: scroll;
  max-height: 700px;
}

.right-panel {
  overflow-y: scroll;
  max-height: 870px;
}

.user-index {
  width: 100%;  
  tr {
    border: 1px solid #A4A4A4;
    padding: 1px;
    th {
    font-size: 1.1em;
    line-height: 2em;
    }
    td {
    width: 135px;
    text-align: center;
    line-height: 1em;    
    }
  }   
}

.feed-well {
  float: left; 
  text-indent: 10px;
}

.password-reset {
  width: 21em;
}

.password-request-label {
  display: inline-block; 
  margin-right: 1em;
  margin-top: 1em;
}

.password-request-email {
  display: inline-block; 
  width: 20em; 
  margin-right: 1em;
}

.activity {
  border-bottom: solid 1px #CCC;
  padding: 16px 0;
}

.post_review_user_info {
  padding: 0.5em 0em 1em 0em;
  border-top: 1px solid $grayMediumLight;
  border-bottom: 1px solid $grayMediumLight;
  margin: 1em 0em 1em 0em;
  line-height: 2em;
  p {
    float: right;
  }
}

.post_review_answer {
  font-size: 1.2em; 
  font-weight: bold;
  text-decoration: underline;
}

.about {
  font-size: 1.2em;
  text-indent: 2em;
}

.text_center{
  text-align: center;
}

.photo_home{
  border-radius: 5px;
}
.privacy {
  .control-label{
  margin-left: -2000px;
  display: inline-block;
  }
  .checkbox {
  margin-left: -8em;
  width: 500px;
  }
}

.alert_bubble {
  background-color: #5bb65b; 
  color: #fff; 
  font-size: .8em; 
  line_height: normal; 
  padding: 0em .7em 0em .7em; 
  margin-left: -1.2em; 
  margin-top: .4em; 
  border-radius: 3em;
}

.icon-large {
  margin-left: 0.5em;
  transform:scale(2.0,2.0);
    -ms-transform:scale(2.0,2.0); /* IE 9 */
    -moz-transform:scale(2.0,2.0); /* Firefox */
    -webkit-transform:scale(2.0,2.0); /* Safari and Chrome */
    -o-transform:scale(2.0,2.0); /* Opera */
}
.icon-medium {
  margin-left: 0.5em;
  transform:scale(1.3,1.3);
    -ms-transform:scale(1.3,1.3); /* IE 9 */
    -moz-transform:scale(1.3,1.3); /* Firefox */
    -webkit-transform:scale(1.3,1.3); /* Safari and Chrome */
    -o-transform:scale(1.3,1.3); /* Opera */
}

.alert-heading {
  font-size: 1.3em;
}
.follow-nudge {
  margin-left: 2em; 
  display: inline-block;
}
.red-color {
  color: #d00000;
}

.heart {
  background-color: #5bb65b; 
  padding: 0em 0em 0.1em 0.3em;
  margin-right: 0.3em; 
  border-radius: 6em;
}

.margin-left{
  margin-left: .1em;  
}
.color-white {
  color: #fff;
}

#logo-home {
  margin-left: -4.5em;
  margin-bottom: -3em;
}

#h1-home {
  text-align: left; 
  font-size: 2.5em; 
  letter-spacing: 0.01em; 
  font-weight: bold; 
  line-height: 2em; 
  margin-top: -1.5em; 
  color: #666;
}

#tagline-home {
  font-size: 1.5em; 
  font-weight: bold; 
  line-height: 1.8em; 
  margin-top: -0.5em; 
  color: #666;
}

#signup-home {
  margin-top: 1.5em;
}

#home-center {
  margin-top: 4em; 
  padding-top: 2m; 
  border-top: 1px dotted #dedede;
}

#home-center-text-margin {
  margin: 4em 0em 2em 0em; 
  text-align: center;
}

#home-center-text {
  font-size: 2em; 
  font-weight: bold;
}

.wrap_long_string {
  word-wrap: break-word;
}

.welcome {
  font-size: 1.2em;
  margin: 2em 1em 1em 1em;
  padding: 1em 2em 2em 2em;
  background-color: #FEE8D6;
  border: 1px solid #E8E8E8;
  border-radius: 1em;
  box-shadow: 10px 10px 5px #888888;
  p {
  margin-top: 1em;
  }
  h1 {
  letter-spacing: 0.01em;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  }
}


.auth {
  margin: 1.5em 6em 2em 3em;
  padding: 1em 1em 1em 1em;
  background-color: #FEE8D6;
  border: 1px solid #E8E8E8;
  
  box-shadow: 8px 8px 5px #888888;
  
  h1 {
  letter-spacing: 0.05em;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  }
}

.abilities {
  list-style: none;
  margin: 0em 0em 0em 2em;
  li {
    padding: 1em 0 1em 0;
    border-top: 1px solid #e8e8e8;
  }
}

.yes {
  color: green;
  a {
  color: inherit;
  letter-spacing: 0.1em;
  text-shadow: -1px 1px 0.5px #000;
  border-bottom: 1px dashed;
  &:hover {
    color: blue;
    }
  }
}

.no {
  color: #990000;
  a {
  color: inherit;
  letter-spacing: 0.1em;
  text-shadow: -1px 1px 0.5px #000;
  border-bottom: 1px dashed;
  &:hover {
    color: blue;
    }
  }
}

.refer {
  letter-spacing: 0.1em;
  text-shadow: -1px 1px 0.5px #000;
}

.form-horizontal-refer { 
  .control-label {  
  float: left;
  width: 10em;
  line-height: 1em;
  margin-left: -3000px;
  margin-bottom: 0px;
  text-align: left;
  }
  .controls {
  margin-left: 0px;
  width: 400px; 
  }
  .choice {
  width: 40px;
  &:first-child {
    padding-top: 0em; 
    } 
  }
}

.ref-submit {
  padding-top: 6.8em;
  margin-left: -1em;
}

.line {
  border-top: 1px solid #eaeaea; margin: 0 5em 1em 2em;
}

.box {
  border: 1px solid #e6e6e6; 
  padding: 1em 2em 1em 1em; 
  margin: 2em 0.5em 2em 0em; 
  box-shadow: 8px 8px 5px #888888;
}

.form-actions {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  border-top: 0px;
  background-color: transparent;
}

.border-left{
  border-left: 1px solid $grayLight;
  padding-left: 1em;
}

.gifts {
  list-style: none;
  margin: 0 0 10px 0;
  border-top: 1px solid $grayLighter;
  border-bottom: 1px solid $grayLighter;
  li {
    overflow: auto;
    padding: 10px 0;    
    display: inline-block;
    margin-left: 3em;
  }
}

.gift_choice {
  height: 200px;
  overflow-y: scroll;
}

.giver {
  color: gray;
  font-size: 1.1em;
  margin-top: 0.4em;
}

.right_align {
  text-align:right;
}

.negative-top {
  margin-top: -1em;
}

.creative-commons {
  text-align: center; 
  font-size: 0.8em;
}

.bottom-margin {
  margin-bottom: 1em;
}

.standard-side {
  width: 110px;
  margin: 20px 0 0 0;
  border-radius: 6px;
  border: solid 1px $grayLight;
  box-shadow: 0 1px 4px 1px;
  li {
    border-bottom: solid 1px $grayLight;  
    padding: 0.25em 0;
    &:first-child {
      padding-top: 0.5em;
    }
    &:last-child {
      padding-bottom: 0.5em;
      border-bottom: 0px;
    }
  }
}

.table-ccss{
  width: 100%; 
  align: center;
  tr {
    border: 1px solid #A4A4A4;   
    td, th {
    padding: 0.8em;
    border-right: 1px solid #A4A4A4;
    line-height: 1.1em;
    }
  }  
}

.border {
  border-bottom: solid 1px #eaeaea;
}

iframe {
  width: 500px; 
  height: 375px;
  frameborder: 0px;
  margin-top: 1em;
}

 .question {
  display: inline-block;
  vertical-align: top;
 }

.user-signup-input {
  height: 320px;
}

.user-signup-button {
  width: 440px; 
  text-align: right;
}

.popover-list {
  li{
    line-height: 1.5em;
    margin-bottom: .7em;
  }
}

.time {
  width: 500px; 
  text-align: right;
}

.video-border-left{
  border-left: 1px solid $grayLighter;
  padding-left: 3.5em;
}

.accept {
  color: green;
}

.decline {
  color: red;
}

.chisel {
  font-weight: bold;
  font-size: 1.2em;
  text-shadow: -1.5px 1px 0.5px #000;
}
