<h2> 
	<p><span itemprop="name">Shooloo</span> <span itemprop="about">I-Can Statements</span>, <span itemprop="about">Lesson Plans</span>, <span itemprop="about">Video Tutorials</span> & <span itemprop="about">Word Problems</span> </p> 
	<p><span itemprop="educationalAlignment">Common Core State Standards</span> for <span itemprop="about">Mathematics</span></p>  
</h2>

<span itemprop="audience" content="student, teacher, tutor, specialist, parent"></span>
<span itemprop="educationalUse" content="assessment, cooperative learning, discovery learning, interactive, journaling, peer coaching, peer response, problem solving, questioning, reciprocal teaching, reinforcement, review, writing"></span>
<span itemprop="inLanguage" content="EN_US"></span>
<span itemprop="interactivityType" content="mixed"></span>
<span itemprop="isFamilyFriendly" content="true"></span>
<span itemprop="learningResourceType" content="assessment, discussion, on-line, worksheet"></span>
<span temprop="provider" content="Shooloo Inc."></span>
<span temprop="timeRequired" content="P5M"></span>
<span temprop="typicalAgeRange" content="8-10, 10-12, 12-14"></span>
