<div class="row">
	<div class="span2" >
		<ul class="nav nav-list standard-side" data-spy="affix-top" data-offset-top="50">
			<li>
				<a href="#overview">
					<i class="icon-chevron-right btn-formtastic"></i> Overview
				</a>
			</li>
			<li>
				<a href="#kindergarten">
					<i class="icon-chevron-right btn-formtastic"></i> Kidergarten
				</a>
			</li>
		</ul>
	</div>
	<div class="span10">
		<section id="overview">
			<div>
				<h4> Shooloo's Alignment to Common Core </h4>
			</div>	
			<p> blah blah </p>	
			<p> blah blah </p>
			<p> blah blah </p>
			<p> blah blah </p>
			<p> blah blah </p>
			<p> blah blah </p>
			<p> blah blah </p>	
			<p> blah blah </p>
			<p> blah blah </p>
			<p> blah blah </p>
			<p> blah blah </p>
		</section>
		<section id="kindergarten">
			<div>
				<h4> Kintergarten </h4>
			</div>
			<p> blah blah </p>				
		</section>
	</div>
</div>