<% provide(:title, "News Feed") %> 

<h1>All Comments</h1>

<% @activities.each do |activity| %>
  <%= div_for activity do %>
    <%= link_to activity.user.screen_name, activity.user %>
    <%= render "activities/#{activity.trackable_type.underscore}/#{activity.action}", activity: activity %>
  <% end %>
<% end %>