<% if activity.trackable %>
	<span class='alert-heading'>
		<strong><%= link_to "Grant Authorizations", authorizations_path %></strong>. 
	</span>
	<br/>
	Grant your students authorizations now so that they can publish their own posts or comments.
	
<% else %>
	<span class='alert-heading'>
		Sorry, you still can't authorize your students yet.
	</span>
	<i class='icon-trash'></i>
<% end %> 