<footer class="footer">
  <nav>
  	© 2013 Shooloo Inc. All Rights Reserved.
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%#= link_to "Help",    help_path %></li>
      <li><%= link_to "Rules", rules_path%></li>
      <li><%= link_to "Terms", terms_path%></li>
      <li><%= link_to "Privacy", privacy_path%></li>
    </ul>
  </nav>
  <div class="creative-commons">
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0; margin-left: 20em;" src="http://i.creativecommons.org/l/by-nc-nd/3.0/88x31.png" /></a><br/>
    <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type">Student-authored Common Core Math Word Problems</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://shooloo.org" property="cc:attributionName" rel="cc:attributionURL">Shooloo.org</a> is licensed under a <br/> 
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.en_US">Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License</a><br/>
    based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="http://shooloo.org" rel="dct:source">http://shooloo.org</a>.
  </div>
</footer>